ai-packaging-auto-predict.json
{
  "name": "AI Packaging - Auto Prediction on New Order",
  "nodes": [
    {
      "id": "NewOrderTrigger",
      "name": "New Order Trigger",
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [260, 300],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 0,
              "minute": 0
            }
          ]
        },
        "triggerOn": "insert",
        "table": "orders",
        "schema": "public"
      },
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - AI Packaging"
        }
      }
    },
    {
      "id": "PreparePredictBody",
      "name": "Prepare Predict Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "functionCode": "const row = items[0].json;\n\n// Map DB columns -> backend payload\nreturn [{\n  json: {\n    length: row.length,\n    width: row.width,\n    height: row.height,\n    weight: row.weight,\n  }\n}];"
      }
    },
    {
      "id": "HTTP_PredictPackaging",
      "name": "Call /predict-packaging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [780, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/predict-packaging",
        "authentication": "none",
        "jsonParameters": true,
        "options": {
          "timeout": 2000
        },
        "bodyParametersJson": "={{ $json }}"
      }
    },
    {
      "id": "StoreResult",
      "name": "Insert Packaging Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO packaging_results (order_id, recommended_box, confidence_score, efficiency_score)\nVALUES (\n  {{ $item(0).$node[\"New Order Trigger\"].json.id }},\n  '{{ $json[\"recommended_box\"] }}',\n  {{ $json[\"confidence_score\"] }},\n  {{ $json[\"efficiency_score\"] }}\n);"
      },
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL - AI Packaging"
        }
      }
    },
    {
      "id": "DashboardWebhook",
      "name": "Trigger Dashboard Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 300],
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_DASHBOARD_WEBHOOK_URL_HERE",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"order_id\": {{ $item(0).$node[\"New Order Trigger\"].json.id }},\n  \"recommended_box\": \"{{ $item(0).$node[\"Call /predict-packaging\"].json.recommended_box }}\",\n  \"confidence_score\": {{ $item(0).$node[\"Call /predict-packaging\"].json.confidence_score }},\n  \"efficiency_score\": {{ $item(0).$node[\"Call /predict-packaging\"].json.efficiency_score }}\n}"
      }
    }
  ],
  "connections": {
    "New Order Trigger": {
      "main": [
        [
          {
            "node": "Prepare Predict Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Predict Payload": {
      "main": [
        [
          {
            "node": "Call /predict-packaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /predict-packaging": {
      "main": [
        [
          {
            "node": "Insert Packaging Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Packaging Result": {
      "main": [
        [
          {
            "node": "Trigger Dashboard Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ai-packaging-auto-predict-v1"
}